<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Home Page</title>
</head>
<body>

<div class="container text-center">
    <div><h1>Welcome to the Home Page!</h1></div>
    <div class="p-2">
        <a class="h2" th:href="@{/people}">List People</a>
    </div>
    <div>
        <a class="h2" th:href="@{/people/add}">Add People</a>
    </div>
    <div class="p-2">
        <a class="h2" th:href="@{/cars}">List Cars</a>
    </div>
    <div class="p-2">
        <a class="h2" th:href="@{/cars/add}">Add Cars</a>
    </div>
    <div class="p-2">
        <a class="h2" th:href="@{/motorbikes}">List Motorbikes</a>
    </div>
    <div class="p-2">
        <a class="h2" th:href="@{/motorbikes/add}">Add Motorbikes</a>
    </div>

</div>

</body>
</html>